body { 
	//max-width: 540px;
	width: 100%;
	margin: 0px;
	background-color: rgb(255, 249, 240); 
}

html, body {
	height: 100%;
}

.mainContainer {
	height:100%;
	min-height:100%;
}

.naviContainer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.naviContainer .naviActionButton {
	text-align: center;
	z-index: 10;
	width: 100%;
}

.naviContainer .naviSettings {
	right: 0;
}

.naviContainer .naviStat {
	left: 0;
}

.naviButton {
	height: 40px;
	margin: 10px;
	position: absolute;
	bottom: 0;
}

.naviButton.back {
	
}

.homeContainer .selectSlider {
	height: 100%;
	width: 100%;
	text-align: center;
}

.startButton, .stopButton {
	color: white;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 0px;
	background-color: #ff9f17;
	font-size: 2em;
	font-weight: bold;
}

.stopButton {
	background-color: rgb(255, 249, 240);
	color: black;
}

.colorContainer {
	background-color: green; 
	transition: background 1s; 
	-webkit-transition: background 1s; 
	-ms-transition: background 1s;
	height: 100%;
}

.debugInfo {
	background-color: yellow;
	padding-bottom: 100px;
}

#accelerometer, #locationData {
	width: 100%;
}

#accelX, #accelY, #accelZ {
	width: 33%;
}

#latitude, #longitude {
	width: 50%;
}

#chart {
	width: 100%;
	height: 300px;
}

/*** SLIDER ***/

.flex-control-nav.flex-control-paging{
	list-style-type:none;
	padding: 0;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-direction-nav{
	display:none;
}

.flexslider {
	background: none;
	border: none;
}

.fa,
.slides h1 {
	margin: auto;
	color: #2b2b2b;
}

.fa-4x {
	margin: 5px;
}

.fa-5x {
	margin: 30px;
}

.fa-inverse {
	color: #cbcbcb;
}